.header-collapse .breadcrumb {
  margin-bottom: 0.1em !important; /* reduce gap below breadcrumb */
}

.header-collapse .title-large {
  margin-top: 0 !important; /* pull title up */
}
ion-header {
  --header-ios-height-large: 44px; /* default is bigger */
}

.header-collapse {
  --ion-safe-area-top: 20px; /* adjust if needed */
}
ion-content {
  --padding-top: env(safe-area-inset-top);
}

/* #container {
  width: 100vw;
  height: 50vh;
  min-height: 600px;
  padding: 20px;
  box-sizing: border-box;
} */
.anychart-credits{
    display:none;
}